<!-- Footer -->
  
  <footer class="custom-footer pt-5 pb-2 mt-5">
    <div class="container">
      <div class="row">
        <!-- কোম্পানির নাম ও বিবরণ -->
        <div class="col-md-4 mb-3">
          <h5 style="color: var(--sun-yellow);" class="fontal">Reliable Krishi</h5>
          <p>রিলায়েবল কৃষি — কৃষকের প্রতিচ্ছবি, উন্নত কৃষির অঙ্গীকার।</p>
        </div>

        <!-- গুরুত্বপূর্ণ লিংক -->
        <div class="col-md-4 mb-3">
          <h5 style="color: var(--sun-yellow);">গুরুত্বপূর্ণ লিংক</h5>
          <ul class="list-unstyled">
            <li><a href="/">হোম</a></li>
            <li><a href="/blog">ব্লগ</a></li>
            <li><a href="/disease">পোকামাকর/রোগ</a></li>
            <li><a href="/technology">প্রযুক্তি</a></li>
            <li><a href="/about">পরিচিতি</a></li>
            <li><a href="/contact">যোগাযোগ</a></li>
          </ul>
        </div>

       <!-- সোশ্যাল মিডিয়া আইকন -->
        <div class="col-md-4 mb-3 text-md-end footer-logo">
          <h5 style="color: var(--sun-yellow);">সোশ্যাল মিডিয়া</h5>
          <a href="https://www.facebook.com/share/1FkfCKPpGr/" target="_blank" class="me-2">
            <img src="/logo/facebook.svg" alt="Facebook" width="24">
          </a>
          <a href="https://wa.me/8801883135933" target="_blank" class="me-2">
            <img src="/logo/whatsapp.svg" alt="Twitter" width="24">
          </a>
          <a href=" https://www.youtube.com/@reliablekrishi" target="_blank" class="me-2">
            <img src="/logo/youtube.svg" alt="YouTube" width="24">
          </a>
        </div>
      </div>

      <hr style="border-color: var(--light-beige);">

      <!-- কপিরাইট -->
      <div class="text-center">
        <p class="mb-0" > <span class="fontal" >&copy;</span> <span class="fontal" ><%= new Date().getFullYear() %> Reliable Krishi.</span> সর্বস্বত্ব সংরক্ষিত।</p>
      </div>
    </div>
  </footer>

  <!-- Footer End -->