<%- include("../partials/head.ejs") %>
<link rel="stylesheet" href="/css/about.css">
</head>
<body>

  <!-- Header -->
  <%- include("../partials/header.ejs") %>

  <!-- Hero Heading -->
  <div class="all-headings mb-4">
    <h1>ржкрж░рж┐ржЪрж┐рждрж┐</h1>
  </div>

  <!-- About Section -->
  <section class="about-section py-5">
    <div class="container">
      <div class="row align-items-center g-5">
        <!-- Left: Image -->
        <div class="col-md-5 text-center">
          <img src="/image/about.jpg" alt="My Photo" class="img-fluid rounded shadow" style="max-height: 400px;">
        </div>

        <!-- Right: Text -->
        <div class="col-md-7">
          <h2 class="mb-3">ржЖржорж╛рж░ рж╕ржорзНржкрж░рзНржХрзЗ</h2>
          <p class="pp mb-3">
            ржЖржорж┐ <strong>ржорзЛржГ ржУрж╕ржорж╛ржи</strong>, ржПржХржЬржи <mark>ржЙржжрзНржпржорзА ржХрзГрж╖рж┐ ржЙржжрзНржпрзЛржХрзНрждрж╛</mark> ржПржмржВ ржХрзГрж╖рж┐ рж╢рж┐ржХрзНрж╖рж╛рзЯ ржкрзНрж░рж╢рж┐ржХрзНрж╖рж┐ржд ржПржХржЬржи рждрж░рзБржгред ржЖржорж╛рж░ ржЬржирзНржо ржУ ржмрзЗржбрж╝рзЗ ржУржарж╛ ржирж╛рж░рж╛рзЯржгржЧржЮрзНржЬ ржЬрзЗрж▓рж╛рж░ ржЖрзЬрж╛ржЗрж╣рж╛ржЬрж╛рж░ ржЙржкржЬрзЗрж▓рж╛рзЯред ржЫрзЛржЯржмрзЗрж▓рж╛ ржерзЗржХрзЗржЗ ржХрзГрж╖рж┐рж░ ржкрзНрж░рждрж┐ ржЧржнрзАрж░ ржЖржЧрзНрж░рж╣ ржерзЗржХрзЗржЗ ржЖржорж╛рж░ ржкржержЪрж▓рж╛ рж╢рзБрж░рзБред
          </p>
          <p class="pp mb-3">
            ржЖржорж┐ рзирзжрзирзж рж╕рж╛рж▓рзЗ рж╕рзНржерж╛ржирзАрзЯ ржПржХржЯрж┐ рж╕рзНржХрзБрж▓ ржерзЗржХрзЗ ржорж╛ржзрзНржпржорж┐ржХ рж╢рж┐ржХрзНрж╖рж╛ рж╕ржлрж▓рждрж╛рж░ рж╕ржЩрзНржЧрзЗ рж╕ржорзНржкржирзНржи ржХрж░рж┐ред ржПрж░ржкрж░ рзирзжрзирзк рж╕рж╛рж▓рзЗ рзк ржмржЫрж░ ржорзЗрзЯрж╛ржжрж┐ ржбрж┐ржкрзНрж▓рзЛржорж╛ ржЗржи ржЕрзНржпрж╛ржЧрзНрж░рж┐ржХрж╛рж▓ржЪрж╛рж░ ржХрзЛрж░рзНрж╕ рж╕ржорзНржкржирзНржи ржХрж░рж┐ рж╕рж░ржХрж╛рж░рж┐ ржПржХржЯрж┐ ржХрзГрж╖рж┐ ржкрзНрж░рж╢рж┐ржХрзНрж╖ржг ржЗржирж╕рзНржЯрж┐ржЯрж┐ржЙржЯ ржерзЗржХрзЗред ржмрж░рзНрждржорж╛ржирзЗ ржЖржорж┐ рж░рж╛ржЬржзрж╛ржирзАрж░ ржПржХржЯрж┐ ржмрзЗрж╕рж░ржХрж╛рж░рж┐ ржкрзНрж░рждрж┐рж╖рзНржарж╛ржирзЗ <span class="fontal">BBA in Agribusiness</span> ржкрзНрж░рзЛржЧрзНрж░рж╛ржорзЗ ржЕржзрзНржпрзЯржирж░ржд ржЖржЫрж┐ред
          </p>
          <p class="pp pb-3">
            <mark>рзирзжрзирзй рж╕рж╛рж▓рзЗ ржЖржорж┐ ржкрзНрж░рждрж┐рж╖рзНржарж╛ ржХрж░рж┐ ржорзЗрж╕рж╛рж░рзНрж╕ ржУрж╕ржорж╛ржи ржПржирзНржЯрж╛рж░ржкрзНрж░рж╛ржЗржЬ ржирж╛ржоржХ ржПржХржЯрж┐ ржХрзГрж╖рж┐ржнрж┐рждрзНрждрж┐ржХ ржкрзНрж░рждрж┐рж╖рзНржарж╛ржи</mark>, ржпрж╛рж░ ржорж╛ржзрзНржпржорзЗ ржЖржорж┐ ржЙржирзНржирждржорж╛ржирзЗрж░ рж╕ржмржЬрж┐ ржмрзАржЬ рж╕рж░ржмрж░рж╛рж╣ ржПржмржВ ржХрзГрж╖ржХржжрзЗрж░ рж╕ржарж┐ржХ ржкрж░рж╛ржорж░рзНрж╢ ржкрзНрж░ржжрж╛ржирзЗ ржХрж╛ржЬ ржХрж░ржЫрж┐ред ржХрзГрж╖рж┐рж░ ржкрзНрж░рждрж┐ ржнрж╛рж▓рзЛржмрж╛рж╕рж╛ ржерзЗржХрзЗржЗ ржЖржорж┐ ржирж┐рзЯржорж┐ржд ржмрж┐ржнрж┐ржирзНржи ржХрзГрж╖рж┐ ржмрж┐рж╖рзЯржХ ржнрж┐ржбрж┐ржУ, ржлрж╕рж▓ ржкрж░рзНржпрж╛рж▓рзЛржЪржирж╛ ржПржмржВ ржЖржзрзБржирж┐ржХ ржкрзНрж░ржпрзБржХрзНрждрж┐рж░ ржмрзНржпржмрж╣рж╛рж░ ржирж┐рзЯрзЗ рж╕рж╛ржорж╛ржЬрж┐ржХ ржорж╛ржзрзНржпржорзЗ ржХржиржЯрзЗржирзНржЯ рждрзИрж░рж┐ ржХрж░рж┐ред
          </p>

          <p class="pp mb-3">
            <strong>рж▓ржХрзНрж╖рзНржп:</strong> ржХрзГрж╖ржХржжрзЗрж░ ржЬржирзНржп рж╕рж╣ржЬржмрзЛржзрзНржп ржУ ржЖржзрзБржирж┐ржХ ржХрзГрж╖рж┐ рждржерзНржп ржкрзМржБржЫрзЗ ржжрзЗржУрзЯрж╛, ржирж┐рж░рж╛ржкржж ржЦрж╛ржжрзНржп ржЙрзОржкрж╛ржжржи ржУ ржЯрзЗржХрж╕ржЗ ржХрзГрж╖рж┐ ржЪрж░рзНржЪрж╛ ржЙрзОрж╕рж╛рж╣рж┐ржд ржХрж░рж╛ред
          </p>
          
            <div><a href="/contact" class="button-earth mt-3 d-inline-block fontal">ржпрзЛржЧрж╛ржпрзЛржЧ</a></div>
            
        </div>
      </div>

      <!-- Skills -->
      <div class="row mt-5">
        <div class="col-12">
          <h3 class="mb-3">ржжржХрзНрж╖рждрж╛</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ЁЯМ▒ ржлрж╕рж▓ ржмрзНржпржмрж╕рзНржерж╛ржкржирж╛ ржУ ржЪрж╛рж╖ ржкржжрзНржзрждрж┐</li>
            <li class="list-group-item">ЁЯФм ржлрж╕рж▓рзЗрж░ рж░рзЛржЧ-ржмрж╛рж▓рж╛ржЗ ржкрж░рж┐ржЪрж┐рждрж┐</li>
            <li class="list-group-item">ЁЯТ╗ <span class="fontal">Agricultural Technology</span> ржУ рждржерзНржп ржмрж┐рж╢рзНрж▓рзЗрж╖ржг</li>
            <li class="list-group-item">ЁЯУК ржХрзГрж╖рж┐ рж░рж┐ржкрзЛрж░рзНржЯ ржУ ржЙржкрж╛рждрзНржд рж╕ржВржХрж▓ржи</li>
          </ul>
        </div>
      </div>

      <!-- Special Interests -->
      <div class="row mt-5">
        <div class="col-12">
          <h3 class="mb-3">ржмрж┐рж╢рзЗрж╖ ржЖржЧрзНрж░рж╣</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">тЬЕ рж╕ржмржЬрж┐ ржУ ржлрж╕рж▓ ржмрзАржЬ ржЙрзОржкрж╛ржжржи</li>
            <li class="list-group-item">тЬЕ ржЬрзИржм ржУ ржирж┐рж░рж╛ржкржж ржХрзГрж╖рж┐</li>
            <li class="list-group-item">тЬЕ ржХрзГрж╖рж┐ ржЙржжрзНржпрзЛржХрзНрждрж╛ ржЙржирзНржирзЯржи</li>
            <li class="list-group-item">тЬЕ ржХрзГрж╖рж┐ ржмрж┐рж╖рзЯржХ ржнрж┐ржбрж┐ржУ ржХржиржЯрзЗржирзНржЯ рждрзИрж░рж┐</li>
            <li class="list-group-item">тЬЕ ржлрж╕рж▓ ржмрзНржпржмрж╕рзНржерж╛ржкржирж╛ ржУ ржкрзНрж░рж╢рж┐ржХрзНрж╖ржг</li>
          </ul>
        </div>
      </div>

      <!-- Academic Background -->
      <div class="row mt-5">
        <div class="col-12">
          <h3 class="mb-3">рж╢рж┐ржХрзНрж╖рж╛ржЧржд ржпрзЛржЧрзНржпрждрж╛</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ЁЯОУ <span class="fontal">Diploma in Agriculture</span> тАУ рж╕ржорзНржкржирзНржи ржХрж░рзЗржЫрзЗржи ржПрж╕ржПрж╕рж╕рж┐тАЩрж░ ржкрж░, ржмрж░рзНрж╖: рзирзжрзирзж-рзирзжрзирзк</li>
            <li class="list-group-item">ЁЯПл ржПрж╕ржПрж╕рж╕рж┐ - ржорж╛ржиржмрж┐ржХ ржмрж┐ржнрж╛ржЧ, ржмрж░рзНрж╖: рзирзжрзирзж</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <%- include("../partials/footer.ejs") %>
  <script src="/js/header.js"></script>
</body>
</html>
