<%- include("../partials/head.ejs") %>

</head>
<body>
  <!-- Header -->
   <%- include("../partials/header.ejs") %>
  
  <!--Footer-->
   <%- include("../partials/footer.ejs") %>
  <!-- JS -->
 <script src="/js/header.js"></script>
</body>
</html>
