
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error Page</title>
  <style>
    body {
      background-color: #f2f2f2;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 400px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;;
    }
    h1 {
      color: #ca2525d0;
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      color: #666;
      font-size: 18px;
      margin-bottom: 10px;
    }
    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
    }
    a:hover {
      text-decoration: underline
    }
  </style>
</head>
<body>

  <div class="container">
    <h1>404</h1>
    <p> Ops! The page you are looking for does not exist.</p>
    <p><a href="/">Go back to the home page</a></p>
  </div>
  


  

</body>
</html>